/cells-*
/main
/cells
/local-*.yaml

CHANGELOG.html

*-packr.go
vendor/github.com/pydio/minio-srv/vendor/golang.org/x/net/trace
broker/log/blevetest/test/pydio.log
discovery/metrics

*.ank
/cmd/jobs-*

/assets/src/pydio/*
node_modules
package-lock.json

/config/file/*
!/config/file/loader.go
!/config/file/sample.*
/search/pydio.bleve/

.DS_Store
.idea
.nova
.history
/.project
/.vscode/
/debug

minio
minio.exe

.env
frontend/front-srv/*
/common/proto/rest/.openapi-generator-ignore
/common/proto/rest/.openapi-generator/FILES
/common/proto/rest/.openapi-generator/VERSION
/common/proto/rest/openapi/openapi.yaml
