.DS_Store
*-packr.go
/main
/cmd/ctl/ctl
/cells
/cells-ctl
/config/file/*
!/config/file/loader.go
!/config/file/sample.*
/search/pydio.bleve/
/.project
.idea
.history
/.vscode/
/debug
/assets/src/pydio/*
CHANGELOG.html
node_modules
package-lock.json
vendor/github.com/pydio/minio-srv/vendor/golang.org/x/net/trace
broker/log/blevetest/test/pydio.log
discovery/metrics

# builds
/cells-*
/ctl-*

*.ank
/cmd/jobs-*

# Gwyn's settings for her Nova editor
.nova