# Ignore vendored Third Party code
vendor/* linguist-vendored

# Ignore generated Code
frontend/assets/**/build/* linguist-generated
frontend/assets/**/gen/* linguist-generated
discovery/install/assets/src/res/js/gen/* linguist-generated
discovery/install/assets/src/res/build/* linguist-generated

# Rather mark grunt file as makefile as they are used for the build
**/Gruntfile.js linguist-language=Makefile

