apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cells.fullname" . }}
data:
  source: |
    export VAULT_TOKEN=$(cat /vault/secrets/token)
  install-conf.yaml: |
    proxyconfigs:
      - binds:
      {{- if .Values.service.binds }}
        {{- range .Values.service.binds }}
        - {{ . | quote }}
        {{- end }}
      {{- else }}
        - 0.0.0.0:{{ .Values.service.port }}
      {{- end }}
      {{- if .Values.service.reverseproxyurl }}
        reverseproxyurl: {{ .Values.service.reverseproxyurl }}
      {{- end }}
      {{- if .Values.service.tlsconfig }}
        tlsconfig:
          {{ toYaml .Values.service.tlsconfig | nindent 10 }}
      {{- end }}
    
    customconfigs:
      {{ toYaml .Values.service.customconfigs | nindent 6 }}

    {{- if .Values.mariadb.enabled}}
    dbmanualdsn: {{ include "cells.mariadbURL" . }}
    dbconnectiontype: tcp
    dbtcphostname: {{ include "cells.mariadbHost" . }}
    dbtcpport: {{ include "cells.mariadbPort" . }}
    dbtcpname: cells
    dbtcpuser: root
    dbtcppassword: {$MARIADB_ROOT_PASSWORD}
    {{- end }}
    
    {{- if (index .Values "mariadb-galera" "enabled") }}
    dbconnectiontype: tcp
    dbtcphostname: {{ include "cells.mariadbGaleraHost" . }}
    dbtcpport: {{ include "cells.mariadbGaleraPort" . }}
    dbtcpname: cells
    dbtcpuser: root
    dbtcppassword: {$MARIADB_ROOT_PASSWORD}
    {{- end }}

    documentsdsn: {{ include "cells.mongodbURL" . }}/cells
    usedocumentsdsn: true

    # Defined in .env file
    frontendlogin: admin
    frontendpassword: P@ssw0rd

    dstype: S3
    dss3custom: {{ include "cells.minioURL" . }}
    dss3apikey: {$MINIO_ROOT_USER}
    dss3apisecret: {$MINIO_ROOT_PASSWORD}
    dss3bucketdefault: pydiods1
    dss3bucketpersonal: personal
    dss3bucketcells: cellsdata
    dss3bucketbinaries: binaries
    dss3bucketthumbs: thumbnails
    dss3bucketversions: versions
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cells-vault
data:
  bootstrap.sh: |
    #!/bin/sh

    OUTPUT=/tmp/output.txt
    export VAULT_TOKEN=$(cat /root/.vault-token)
    export VAULT_ADDR=http://127.0.0.1:8200

    vault operator init -n 1 -t 1 >> ${OUTPUT?}

    unseal=$(cat ${OUTPUT?} | grep "Unseal Key 1:" | sed -e "s/Unseal Key 1: //g")
    root=$(cat ${OUTPUT?} | grep "Initial Root Token:" | sed -e "s/Initial Root Token: //g")

    vault operator unseal ${unseal?}

    vault login -no-print ${root?}

    vault secrets enable -version=2 -path=secret kv
    vault secrets enable -version=2 -path=caddycerts kv
    vault secrets enable pki
    
    vault write pki/root/generate/internal \
      common_name={{ include "cells.serviceDomain" . }} \
      ttl=8760h
    
    vault write pki/config/urls \
      issuing_certificates="{{ include "cells.vaultURL" . }}/v1/pki/ca" \
      crl_distribution_points="{{ include "cells.vaultURL" . }}/v1/pki/crl"
    
    vault secrets tune -max-lease-ttl=8760h pki
    
    vault write pki/roles/application \
      allowed_domains=*.{{ include "cells.serviceDomain" . }} \
      allow_any_name=true \
      allow_subdomains=true \
      max_ttl=72h
    
    vault policy write pki /vault/userconfig/cells-vault/pki-policy.hcl

    vault auth enable kubernetes

    vault write auth/kubernetes/config \
        kubernetes_host=https://kubernetes.default.svc \
        kubernetes_ca_cert=@/var/run/secrets/kubernetes.io/serviceaccount/ca.crt

    vault policy write app /vault/userconfig/cells-vault/app-policy.hcl

    vault write auth/kubernetes/role/app \
       bound_service_account_names=app \
       bound_service_account_namespaces={{ .Release.Namespace }} \
       policies=app,pki \
       ttl=24h

    vault token create -policy=app

  app-policy.hcl: |
    path "auth/token/lookup-self" {
        capabilities = ["read"]
    }
    path "sys/internal/ui/mounts/auth/token/lookup-self" {
        capabilities = ["read"]
    }
    path "secret/*" {
        capabilities = ["create", "update", "read", "delete"]
    }
    path "caddycerts/*" {
        capabilities = ["create", "update", "read", "delete"]
    }
    path "pki*" {
        capabilities = ["create", "update", "read", "delete"]
    }

  pki-policy.hcl: |
    path "pki*"                    { capabilities = ["read", "list"] } 
    path "pki/sign/application"    { capabilities = ["create", "update"] }
    path "pki/issue/application"   { capabilities = ["create"] }
