div.user-badge.share-dialog {
  border-bottom: 1px solid #e0e0e0;
  clear: both;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 20px;
}
div.user-badge.share-dialog .user-badge-label {
  flex: 1;
  padding: 9px 0;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.user-badge.share-dialog:last-of-type {
  border-bottom: 0;
}
div.user-badge.share-dialog span.icon-ellipsis-vertical.mui-font-icon {
  color: #6F6F6F;
  font-size: 18px;
}
div.user-badge.share-dialog span.avatar {
  background-color: #4aceb0;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 17px;
  height: 24px;
  width: 24px;
  margin: 5px 14px 7px 7px;
  padding: 3px;
  text-align: center;
}
div.user-badge.share-dialog.user-type-group span.avatar {
  background-color: #47b092;
}
div.user-badge.share-dialog.user-type-tmp_user span.avatar,
div.user-badge.share-dialog.user-type-remote_user span.avatar {
  background-color: #438db3;
}
div.user-badge.share-dialog img {
  background-color: #4aceb0;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 17px;
  height: 24px;
  margin: 5px 14px 7px -44px;
  padding: 6px;
  text-align: center;
  width: 24px;
}
div.user-badge.share-dialog div.user-badge-menu-box {
  font-size: 13px;
  position: relative;
}
div.user-badge.share-dialog div.user-badge-menu-box div.mui-menu.mui-visible {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.43);
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 120;
}
div.user-badge.share-dialog div.user-badge-menu-box div.mui-menu span.icon-check {
  float: right;
  font-size: 16px;
  margin-top: 15px;
}
div.user-badge.share-dialog span.user-badge-rights-container {
  float: right;
  padding: 11px;
  color: gray;
  font-size: 11px;
  line-height: 25px;
}
div.user-badge.share-dialog span.user-badge-rights-container input[name="write"] {
  margin-left: 28px;
}
div#share-form-users {
  margin-top: 0 !important;
}
