.react-mui-context{

  .modern-list.table-mode.bn-children-list{
    font-size: 0.8em;
    tr {
      height: auto;
      .cell{
        padding-top: 8px;
        padding-bottom: 8px;
        &.cell-ajxp_label{
          font-size: inherit;
          font-weight: 500;
          &.header_cell {
            font-weight: 600;
          }
        }
      }
    }
  }
}
