#apikeys_pane{

}

#apikeys_pane h2{
    font-weight: 500;
}

#apikeys_pane #token_results{
    position: absolute;
    bottom: 5%;
    left: 2%;
    padding: 9px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 1px 1px 24px rgba(0,0,0,0.15);
    width: 300px;
    margin: 0 auto;
}

#apikeys_pane #token_results span.mdi-close{
    position: absolute;
    right: -4px;
    font-size: 21px;
    color: #999;
    top: -6px;
    cursor: pointer;
}

#apikeys_pane #token_results_content{
    -moz-user-select: -moz-initial;
    -khtml-user-select: initial;
    -webkit-user-select: initial;
    user-select: initial;
}

#apikeys_pane ul{

}

#apikeys_pane li{
    margin: 10px 0;
}


#apikeys_pane li span{
    color: #ccc;
    cursor: pointer;
    margin: 0 5px;
}

#apikeys_pane li span:hover{
    color: #cc0000;
}