.react-mui-context{
  .pydio-form-panel.stepper-form-panel{
    padding-bottom: 0;
    max-width: 320px;
    .pydio-form-group{
      margin: 0;
      > .mui-paper-container{
        padding: 0;
      }
    }
  }
}
