@import "scheduler/layout.css";
@import "scheduler/material.css";
#ajxp_desktop.ajxp_ws-settings #global_toolbar {
  display: none;
}
.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-mui-context {
  /******************/
  /*    PLUGINS     */
  /******************/
  /******************/
  /* LOGS DASHBOARD */
  /******************/
  /****************/
  /* DASHBOARD    */
  /****************/
  /*****************/
  /* PEOPLE        */
  /*****************/
  /*********************/
  /* UPDATER
  /*********************/
  /*********************/
  /* BOOSTER PANEL & WIDGET
  /*********************/
  /*********************/
  /* WORKSPACES
  /*********************/
  /*************************/
  /*    OSS CREDITS        */
  /*************************/
  /********************/
  /* OVERRIDE STYLES  */
  /********************/
  /******************/
  /* ADMIN MAIN NAV */
  /******************/
}
.react-mui-context h1 {
  padding: 16px 20px;
}
.react-mui-context h1.admin-panel-title {
  padding: 16px 16px 0;
}
.react-mui-context .main-layout-nav-to-stack .left-nav .plugin-doc-pane {
  clear: both;
  padding: 0 20px;
  max-height: 51px;
  overflow: hidden;
  transition: max-height 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.react-mui-context .main-layout-nav-to-stack .left-nav .plugin-doc-pane p {
  display: inline;
}
.react-mui-context .main-layout-nav-to-stack .left-nav .plugin-doc-pane ul.pluginfo_list {
  display: none;
}
.react-mui-context .main-layout-nav-to-stack .left-nav div.plugin-doc-error {
  padding: 5px 10px;
  background-color: #ffe0b2;
  border-radius: 3px;
  margin: 0px 20px 5px;
}
.react-mui-context .main-layout-nav-to-stack .left-nav div.plugin-doc-error a {
  text-decoration: underline;
  cursor: pointer;
}
.react-mui-context .main-layout-nav-to-stack .left-nav .plugin-doc-toggle {
  height: 24px;
  background-color: rgba(230, 230, 230, 0.67);
  text-align: center;
  color: #A1A1A1;
  margin: 0 20px 8px;
  border-radius: 2px;
  font-size: 24px;
  cursor: pointer;
}
.react-mui-context .main-layout-nav-to-stack .left-nav .plugin-doc-open .plugin-doc-pane {
  max-height: 250px;
  overflow-y: auto;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .left-nav {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0);
  height: 64px;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 5px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .pydio-form-panel.row-flex .pydio-form-group {
  background-color: white !important;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board.main-pane-scrolled .left-nav {
  background-color: rgba(255, 255, 255, 0.88);
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
  height: 76px;
  padding: 0;
}
@media only screen and (max-width: 420px) {
  .react-mui-context .main-layout-nav-to-stack.plugin-board.main-pane-scrolled .left-nav {
    left: 0;
    height: 110px;
  }
}
.react-mui-context .main-layout-nav-to-stack.plugin-board.main-pane-scrolled .pydio-form-panel.row-flex {
  padding-top: 88px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc {
  margin: 0 24px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc b {
  font-weight: 500;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h1,
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h2,
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h3,
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h4 {
  font-size: 22px;
  padding: 16px 0 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.73);
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h2 {
  font-size: 20px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h3 {
  font-size: 18px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc .plugin-doc-pane h4 {
  font-size: 16px;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc span.pluginfo_key {
  display: inline-block;
  margin-right: 4px;
  font-weight: 500;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board .plugin-doc span.pluginfo_key:after {
  content: ':';
}
.react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .left-nav {
  background-color: #424242;
  color: white;
}
.react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .left-nav h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  max-width: 58%;
  font-size: 32px;
}
@media only screen and (max-width: 950px) {
  .react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .left-nav h1 {
    max-width: 45%;
  }
}
@media only screen and (max-width: 758px) {
  .react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .left-nav h1 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 758px) {
  .react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .left-nav div.buttons-cont {
    margin: 0;
  }
}
.react-mui-context .main-layout-nav-to-stack.plugin-board.edit-plugin-inpane .pydio-form-group {
  min-width: 47%;
  margin: 2% 0 0 2%;
}
@media only screen and (max-width: 420px) {
  .react-mui-context .main-layout-nav-to-stack .plugin-doc-pane {
    max-height: 125px;
    overflow-y: auto;
  }
  .react-mui-context .main-layout-nav-to-stack .plugin-doc-pane .pluginfo_list {
    display: none;
  }
}
.react-mui-context .material-list.plugins-list {
  height: 100%;
}
.react-mui-context .material-list.plugins-list .material-list-actions {
  padding-top: 14px;
}
.react-mui-context .material-list.plugins-list .plugins-list-actions {
  margin-right: 0;
}
.react-mui-context .material-list.plugins-list .plugins-list-actions .plugin-edit {
  float: left;
}
.react-mui-context .material-list.plugins-list .plugins-list-actions .plugin-edit .mdi-pencil {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.54);
}
.react-mui-context .plugin-editor-close {
  position: absolute;
  right: 10px;
  top: 74px;
}
.react-mui-context .logger-filterInput {
  float: right;
}
.react-mui-context .logger-dateInput {
  float: right;
  margin-top: 24px;
  position: relative;
  width: 90px;
  overflow: hidden;
  margin-right: 16px;
}
.react-mui-context .logger-dateInput .datepicker-legend {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: 10px;
}
@media only screen and (min-width: 480px) and (max-width: 710px) {
  .react-mui-context .logs-dashboard h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 520px) {
  .react-mui-context .logs-dashboard h1 {
    display: none;
  }
}
.react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-date {
  width: 15%;
}
.react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-ip,
.react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-level {
  width: 5%;
}
.react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-params {
  width: 45%;
}
@media only screen and (min-width: 480px) and (max-width: 760px) {
  .react-mui-context .logs-dashboard .material-list.logs-list .cell {
    width: 17% !important;
  }
  .react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-params {
    display: block;
    width: 100% !important;
    padding-top: 16px;
    color: #adadad;
    text-align: left;
  }
  .react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-params::before {
    content: attr(data-label) ': ';
    font-weight: 500;
  }
  .react-mui-context .logs-dashboard .material-list.logs-list .cell.cell-params.header_cell {
    display: none;
  }
}
.react-mui-context .logs-dashboard .log-detail {
  padding: 5px 0;
}
.react-mui-context .logs-dashboard .log-detail .log-detail-label {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
.react-mui-context .logs-dashboard .log-detail .log-detail-value {
  word-break: break-all;
  user-select: initial;
}
.react-mui-context .logs-filter {
  float: right;
  padding-top: 21px;
  height: 50px;
  overflow: visible;
}
.react-mui-context .recent-logs {
  overflow-y: auto;
  height: 320px;
}
.react-mui-context .recent-logs .log {
  padding: 16px;
  border-top: 1px solid #eee;
  line-height: 20px;
}
.react-mui-context .recent-logs .log .log-title .log-action {
  font-size: 17px;
  font-weight: 400;
}
.react-mui-context .recent-logs .log .log-title .log-date {
  color: rgba(0, 0, 0, 0.23);
  float: right;
  font-size: 12px;
}
.react-mui-context .recent-logs .log .log-meta {
  clear: both;
  margin-bottom: 1px;
  font-size: 14px;
}
.react-mui-context .recent-logs .log .log-data {
  font-size: 14px;
  font-weight: 300;
}
.react-mui-context .recent-logs .log.log-ERROR .log-action,
.react-mui-context .recent-logs .log.log-WARNING .log-action {
  color: #7A0D0F;
}
.react-mui-context .recent-logs .log.log-ERROR .log-date,
.react-mui-context .recent-logs .log.log-WARNING .log-date {
  color: rgba(122, 13, 15, 0.5);
}
.react-mui-context .home-dashboard {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow: auto;
}
.react-mui-context .home-dashboard > .dashboard-layout div.react-grid-item h4 {
  margin-left: 16px;
  cursor: move;
  font-weight: 400;
}
.react-mui-context .home-dashboard > .dashboard-layout div.react-grid-item .card-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 100;
  display: flex;
}
.react-mui-context .home-dashboard > .dashboard-layout div.react-grid-item .card-close-button {
  margin: auto;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.19);
}
.react-mui-context .home-dashboard .screencast {
  float: left;
  width: 230px;
  margin: 14px;
  border: 3px solid #EEEEEE;
  border-radius: 4px;
  padding: 0;
  height: 186px;
}
.react-mui-context .home-dashboard .screencast img {
  width: 100%;
}
.react-mui-context .home-dashboard .getting-started-content {
  max-height: 100px;
  padding-right: 16px;
  overflow-y: auto;
}
@media only screen and (max-width: 720px) {
  .react-mui-context .home-dashboard .screencast {
    display: none;
  }
  .react-mui-context .home-dashboard .getting-started-content {
    padding-left: 16px;
  }
}
.react-mui-context .graphs-paginator {
  float: right;
  margin-right: 8px;
  margin-top: 8px;
}
.react-mui-context .graphs-paginator > * {
  float: left;
}
.react-mui-context .graphs-paginator .icon-calendar,
.react-mui-context .graphs-paginator .icon-anchor {
  font-size: 18px;
}
.react-mui-context .graphs-paginator .paginator-dates {
  width: 220px;
}
.react-mui-context .graphs-paginator .paginator-dates .mui-date-picker {
  float: left;
  margin: 0 4px;
}
.react-mui-context .graphs-paginator .paginator-dates .mui-date-picker .mui-text-field {
  width: 100px;
  text-align: center;
}
.react-mui-context .graphs-card {
  background-color: white;
}
.react-mui-context .graphs-card .graph-loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .3;
  font-size: 11px;
  font-weight: 500;
}
.react-mui-context .graphs-badge {
  width: 150px;
  height: 70px;
  position: relative;
  background-color: white;
}
.react-mui-context .graphs-badge .badge-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -5px;
  right: -5px;
}
.react-mui-context .graphs-badge .graph-loading {
  position: absolute;
  inset: 0 5px 3px 0;
  display: flex;
  align-items: end;
  justify-content: end;
  opacity: .3;
  font-size: 11px;
  font-weight: 500;
}
.react-mui-context .graphs-badge .badge-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: left;
  padding-left: 16px;
  width: 100%;
}
.react-mui-context .graphs-badge .badge-content h4 {
  padding-top: 18px;
  margin-bottom: 3px;
  font-size: 34px;
  margin-left: 0 !important;
  font-weight: 400;
}
.react-mui-context .graphs-badge .badge-content h4.text {
  font-size: 22px;
}
.react-mui-context .graphs-badge .badge-content .legend {
  color: rgba(0, 0, 0, 0.5);
}
.react-mui-context .graphs-badge.most-active-badge .badge-content {
  border-left-color: white;
}
.react-mui-context .doughnut-chart {
  text-align: center;
  position: relative;
}
.react-mui-context .doughnut-chart .figure {
  position: absolute;
  display: block;
  top: 53%;
  font-size: 26px;
  width: 100%;
  text-align: center;
  padding-left: 5px;
}
.react-mui-context .server-status {
  height: 190px;
}
.react-mui-context .server-status .doughnut-chart {
  float: left;
  width: 50%;
}
.react-mui-context .server-loads {
  text-align: center;
}
.react-mui-context .server-loads .server-load {
  display: inline-block;
  font-size: 22px;
  margin: 0 16px;
  width: 50px;
  text-align: center;
}
.react-mui-context .server-loads .server-load.legend {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.23);
}
.react-mui-context .quick-links {
  /*background-color: rgba(145, 217, 216, 0.32) !important;*/
}
.react-mui-context .quick-links > div.mui-paper-container {
  display: flex;
  align-items: flex-start;
}
.react-mui-context .quick-links > div.mui-paper-container h4 {
  padding-top: 11px;
  flex-shrink: 0;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-mui-context .quick-links .mui-flat-button {
  margin-top: 7px;
  margin-left: 12px;
  white-space: nowrap;
}
.react-mui-context .quick-links .mui-icon-button {
  position: absolute;
  right: 0;
  padding-top: 17px;
  background-color: transparent;
}
.react-mui-context .quick-links .mui-icon-button .mdi-pencil,
.react-mui-context .quick-links .mui-icon-button .icon-ok {
  font-size: 15px;
}
.react-mui-context .quick-links .mui-drop-down-menu {
  height: 46px;
  width: 200px;
  background-color: white;
  margin-top: 2px;
  margin-left: 2px;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu-label {
  line-height: 50px;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu-drop-down-icon {
  top: 13px;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu-item {
  padding-left: 16px;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu-item .mui-menu-item-icon {
  font-size: 16px;
  line-height: 32px;
  margin-right: 16px;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu.mui-visible {
  min-height: 200px !important;
  overflow: hidden;
}
.react-mui-context .quick-links .mui-drop-down-menu .mui-menu.mui-visible > div.mui-paper-container {
  overflow-y: auto !important;
  height: 100%;
}
.react-mui-context .people-dashboard .users-groups-tree .tree-item {
  line-height: 38px;
}
.react-mui-context .people-dashboard .users-groups-tree .tree-item.mui-is-selected {
  background-color: #FAFAFA;
}
.react-mui-context .people-dashboard .users-groups-tree .tree-item span.tree-icon {
  font-size: inherit;
  margin-right: 6px;
  color: #9E9E9E;
}
.react-mui-context .people-dashboard .users-groups-tree .tree-item span.tree-icon.mdi.mdi-folder {
  display: none;
}
.react-mui-context .people-dashboard .users-groups-tree li.treenode_data_users > ul > li.treenode_data_users {
  display: none;
}
.react-mui-context .people-dashboard .listentry_data_users .material-list-actions .icon-trash {
  display: none;
}
.react-mui-context .people-dashboard .people-title {
  background-color: #f5f5f5;
  /*border-bottom: 1px solid rgba(224,224,224,1);*/
  align-items: flex-end;
}
.react-mui-context .people-dashboard .people-title h1 {
  padding: 16px 20px !important;
  padding-bottom: 0 !important;
}
.react-mui-context .people-dashboard .people-title .search-box {
  margin: 6px;
  overflow: visible;
}
.react-mui-context .people-dashboard .people-title .buttonContainer {
  float: right;
  margin-left: 10px;
}
@media only screen and (max-width: 480px) {
  .react-mui-context .people-dashboard .people-title .buttonContainer {
    position: absolute;
    top: 80px;
    right: 0;
  }
}
.react-mui-context .people-dashboard .people-tree {
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 226px;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
}
.react-mui-context .people-dashboard .role-panel {
  overflow: hidden;
  margin-left: 0;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 0;
  align-items: flex-end !important;
}
.react-mui-context .people-dashboard .role-panel > div {
  width: 256px !important;
}
.react-mui-context .people-dashboard .role-panel .material-list-icon {
  width: 50px !important;
}
.react-mui-context .people-dashboard .role-panel .material-list-actions {
  display: none;
}
.react-mui-context .people-dashboard.role-panel-open .role-panel {
  width: 256px;
  border-right: 1px solid #e0e0e0;
}
@media only screen and (max-width: 720px) {
  .react-mui-context .people-dashboard .search-box {
    position: absolute;
    width: 270px;
    left: 78px;
    top: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .react-mui-context .people-dashboard .search-box {
    left: 24px;
  }
  .react-mui-context .people-dashboard h1 {
    text-align: left;
  }
  .react-mui-context .people-dashboard .search-results-title {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .react-mui-context div.update-checker .pydio-form-panel .pydio-form-group,
  .react-mui-context div.booster-panel .pydio-form-panel .pydio-form-group {
    width: 47% !important;
  }
  .react-mui-context div.update-checker .pydio-form-panel .pydio-form-group:first-of-type,
  .react-mui-context div.booster-panel .pydio-form-panel .pydio-form-group:first-of-type {
    width: 96% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .react-mui-context div.update-checker .pydio-form-panel .pydio-form-group,
  .react-mui-context div.booster-panel .pydio-form-panel .pydio-form-group {
    width: 48% !important;
  }
  .react-mui-context div.update-checker .pydio-form-panel .pydio-form-group:first-of-type,
  .react-mui-context div.booster-panel .pydio-form-panel .pydio-form-group:first-of-type {
    width: 97% !important;
  }
}
.react-mui-context div.booster-panel span.icon-bookmark-empty {
  font-size: 16px;
  color: #535353;
  opacity: 0.5;
}
.react-mui-context div.booster-panel span.icon-bookmark-empty:hover {
  opacity: 1;
}
.react-mui-context div.booster-panel div.booster-controls {
  float: right;
  margin: 10px 0;
  color: #009688;
}
.react-mui-context div.booster-panel div.booster-download-button {
  float: right;
  margin: 10px;
}
.react-mui-context div.booster-panel div.booster-require-reload {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffe0b2;
  border-radius: 3px;
  margin-bottom: 5px;
}
.react-mui-context div.booster-panel div.booster-require-reload a {
  cursor: pointer;
}
.react-mui-context div.booster-panel div.booster-logs-panel {
  height: 300px;
  overflow: scroll;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: #424242;
  margin: 0 0 20px;
  border-radius: 2px;
}
.react-mui-context div.booster-panel div.booster-logs-panel div.booster-log {
  white-space: nowrap;
  padding: 0;
  font-family: Courier;
  color: white;
  font-weight: bold;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses {
  margin-top: 20px;
  display: flex;
  box-sizing: border-box;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status {
  text-align: center;
  padding: 10px 5px;
  margin: 0 5px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.43);
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status h5 {
  margin-bottom: 5px;
  font-size: 18px;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status div.message {
  color: rgba(0, 0, 0, 0.33);
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status div.status {
  font-size: 1.5em;
  padding: 5px;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status.process-has-success div.status {
  color: green;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status.process-has-error div.status {
  color: red;
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status.process-has-error div.message {
  color: rgba(255, 0, 0, 0.51);
}
.react-mui-context div.booster-panel div.pydio-booster-statuses div.booster-process-status.process-is-inactive div.status {
  color: rgba(0, 0, 0, 0.33);
}
.react-mui-context .permission-mask-editor .read-write-header {
  font-size: 12px;
  float: right;
  text-transform: uppercase;
}
.react-mui-context .permission-mask-editor .read-write-header span {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 10px;
  border-bottom: 2px solid #B3B3B3;
  margin-left: 5px;
}
.react-mui-context .permission-mask-editor .read-write-header span.header-children {
  margin-left: 10px;
  margin-right: 3px;
}
.react-mui-context .permission-mask-editor .tree-checkboxes div.mui-checkbox.cbox-children {
  padding-left: 16px;
  border-left: 2px solid #212121;
}
.react-mui-context .permission-mask-editor .parent-inherited > .mui-checkbox .mui-checkbox-icon .mui-checkbox-check * {
  fill: #67a9d4;
}
.react-mui-context .permission-mask-editor .tree-item.has-checkboxes.inherited {
  opacity: 0.5;
}
.react-mui-context .permission-mask-editor .smaller-button {
  padding: 2px;
}
.react-mui-context .permission-mask-editor .smaller-button .mui-font-icon,
.react-mui-context .permission-mask-editor .smaller-button .mui-smaller-font-icon {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.43);
}
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .tree-item.mui-menu-item.has-checkboxes.checkbox-values-empty,
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .tree-item.mui-menu-item.has-checkboxes.checkbox-values-deny {
  display: none;
}
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .tree-checkboxes div.mui-checkbox.cbox-children,
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .tree-checkboxes div.mui-checkbox.cbox-deny {
  display: none;
}
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .read-write-header {
  padding-right: 36px;
}
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .read-write-header span.header-deny,
.react-mui-context .permission-mask-editor.tree-show-accessible-nodes .read-write-header span.header-children {
  display: none;
}
.react-mui-context .permission-mask-editor.permission-mask-global-nowrite .tree-checkboxes div.mui-checkbox.cbox-write {
  display: none;
}
.react-mui-context .permission-mask-editor.permission-mask-global-nowrite .read-write-header span.header-write {
  display: none;
}
.react-mui-context .permission-mask-editor.permission-mask-global-noread .tree-checkboxes div.mui-checkbox.cbox-read {
  display: none;
}
.react-mui-context .permission-mask-editor.permission-mask-global-noread .read-write-header span.header-read {
  display: none;
}
.react-mui-context .permission-mask-editor .mui-dialog {
  white-space: initial !important;
}
.react-mui-context .admin-tasks-panel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.33);
  margin: 0 20px;
}
.react-mui-context .admin-tasks-panel div.task {
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row;
}
.react-mui-context .admin-tasks-panel div.task .task_texts {
  flex: 5;
  max-width: 96%;
}
.react-mui-context .admin-tasks-panel div.task .task_texts div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-mui-context .admin-tasks-panel div.task .task_actions {
  cursor: pointer;
}
.react-mui-context .admin-tasks-panel div.task .task_actions > span {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
  color: #009688;
}
.react-mui-context .pydio-oss-credits a {
  color: #009688;
}
.react-mui-context .paper-editor {
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  left: 380px;
  right: 64px;
  bottom: 0;
  background-color: white;
  top: 100%;
  z-index: 9;
}
.react-mui-context .paper-editor.visible {
  top: 98px;
}
.react-mui-context .paper-editor > .mui-paper-container {
  flex: 1;
}
.react-mui-context .paper-editor .mui-snackbar.mui-is-open {
  left: inherit;
}
.react-mui-context .paper-editor .paper-editor-content {
  padding: 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-title .show-720 {
  display: none !important;
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-title .hide-720 {
  display: block;
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-left {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-right {
  padding: 0;
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-right .loader-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  padding: 70px;
  left: 256px;
  right: 0;
  background-color: #f5f5f5;
}
.react-mui-context .paper-editor .paper-editor-content .paper-editor-right h1 {
  font-size: 28px;
  font-weight: 400;
  color: #212121;
  margin: 0 0 8px;
  padding: 0;
}
.react-mui-context .paper-editor .main-layout-nav-to-stack.plugin-board.main-pane-scrolled .left-nav {
  left: 0;
}
@media only screen and (max-width: 1200px) {
  .react-mui-context .paper-editor {
    left: 134px;
  }
  .react-mui-context .paper-editor .paper-editor-content .paper-editor-left {
    width: 206px;
  }
  .react-mui-context .paper-editor .paper-editor-content .paper-editor-right .loader-container {
    left: 206px;
  }
}
@media only screen and (max-width: 720px) {
  .react-mui-context .paper-editor {
    left: 80px;
    right: 16px;
  }
  .react-mui-context .paper-editor.visible {
    top: 80px;
  }
  .react-mui-context .paper-editor.visible .paper-editor-title .show-720 {
    display: block !important;
  }
  .react-mui-context .paper-editor.visible .paper-editor-title .hide-720 {
    display: none !important;
  }
  .react-mui-context .paper-editor.visible .paper-editor-content .paper-editor-left {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .react-mui-context .paper-editor {
    left: 0;
    right: 0;
  }
  .react-mui-context .paper-editor.visible {
    top: 60px;
  }
}
.react-mui-context .edit-object-user .paper-editor-left div[role="menu"] {
  top: 256px !important;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image {
  position: absolute;
  top: 64px;
  left: 0;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image > div:last-child {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image .file-dropzone {
  width: 180px !important;
  height: 180px !important;
  margin: 10px;
  border-radius: 50%;
  background-color: rgba(224, 224, 224, 0.33);
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image .file-dropzone .icon-camera {
  position: absolute;
  bottom: 7px;
  right: 10px;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image .form-legend {
  display: none;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image .binary-remove-button {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}
.react-mui-context .edit-object-user .avatar-provider .form-entry-image .image-label {
  display: none;
}
@media only screen and (max-width: 720px) {
  .react-mui-context .edit-object-user .paper-editor-title h2 {
    text-align: left !important;
    padding-left: 70px !important;
  }
  .react-mui-context .edit-object-user .avatar-provider .form-entry-image {
    top: 0;
  }
  .react-mui-context .edit-object-user .avatar-provider .form-entry-image .file-dropzone {
    width: 56px !important;
    height: 56px !important;
    border-right: 0;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 5px;
  }
  .react-mui-context .edit-object-user .avatar-provider .form-entry-image .binary-remove-button {
    zoom: 0.7;
  }
}
.react-mui-context .admin-helper-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 326px;
  background-color: rgba(255, 255, 255, 0.99);
}
.react-mui-context .admin-helper-panel .mui-paper-container {
  height: 100%;
  overflow-y: auto;
}
.react-mui-context .admin-helper-panel h3 {
  background-color: #FF6E40;
  color: white;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 20px;
}
.react-mui-context .admin-helper-panel .pydio-form-panel .pydio-form-group {
  margin-top: 0;
}
.react-mui-context .admin-helper-panel .legend {
  padding: 0 17px;
  color: #878787;
  font-size: 12px;
  line-height: 17px;
}
.react-mui-context .admin-helper-panel .widget-type-selector {
  border: 1px solid #E0E0E0;
  margin-left: 16px;
  border-radius: 3px;
  margin-top: 8px;
  width: 280px;
}
.react-mui-context .admin_editor {
  position: absolute;
  right: -570px;
  width: 520px;
  top: 0;
  bottom: 0;
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 10;
  background-color: #ffffff;
  /*
    to uncomment for scrolling problems
    overflow: hidden;
    */
}
.react-mui-context #editor_close_button {
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 0;
  left: 0;
}
.react-mui-context .admin_editor.editor_open {
  transform: translate3d(-570px, 0, 0);
}
.react-mui-context .admin_editor.editor_open #editor_close_button {
  top: 10px;
  left: -50px;
}
.react-mui-context .mui-drop-down-menu.dropdown-full-width {
  display: block;
}
.react-mui-context#admin_dashboard {
  opacity: 1 !important;
}
.react-mui-context .small-icon-button .mui-font-icon {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.33);
}
.react-mui-context label {
  margin: 0;
  font-size: inherit;
}
.react-mui-context .ellipsis-label {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-mui-context li {
  list-style: none;
}
.react-mui-context li > div.mui-menu-item {
  padding-left: 16px;
}
.form-react_scheduler_editor .dialogTitle {
  display: none;
}
