.picker-list {
  width: 100%;
  background-color: white;
  padding: 0;
}
.picker-list .color-dialog-title {
  background-color: #00796c;
}
.picker-list .color-dialog-title h3 {
  color: white;
  padding: 12px 24px;
  margin-bottom: 0;
}
.picker-list .color-dialog-title .legend {
  color: white;
  padding: 0 24px 12px;
  font-size: 13px;
}
.picker-list .picker-search-container {
  background-color: #009688;
  padding: 0 24px;
}
.picker-list .picker-search-container .mui-text-field {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 12px;
}
.picker-list .picker-search-container .mui-text-field hr {
  border-color: white;
}
.picker-list .picker-search-container .mui-text-field label,
.picker-list .picker-search-container .mui-text-field input {
  color: white;
}
.picker-list .parameters-tree {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.picker-list .parameters-tree span.highlight {
  background-color: #ffff00;
}
.picker-list .parameters-tree li {
  padding-top: 24px;
  font-weight: 500;
  font-size: 24px;
}
.picker-list .parameters-tree .parameters-plugin > ul {
  padding-top: 8px;
}
.picker-list .parameters-tree .parameters-param {
  margin: 0 16px;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}
.picker-list .parameters-tree .parameters-param:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.picker-list .parameters-tree .parameters-param.selected {
  background-color: #009688 !important;
}
.picker-list .parameters-tree-scroller {
  height: 355px;
  overflow-y: auto;
}
.paper-editor .mui-app-bar {
  position: static;
}
.paper-editor .main-panel {
  margin-left: 0;
  padding-top: 64px;
}
.paper-editor .mui-overlay {
  left: initial;
  right: -100%;
}
.paper-editor .mui-font-icon {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.23);
}
.paper-editor h3.paper-right-title {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
}
.paper-editor h3.paper-right-title .section-legend {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.paper-editor h3.paper-right-title .read-write-header {
  font-size: 12px;
  float: right;
  text-transform: uppercase;
}
.paper-editor h3.paper-right-title .read-write-header span {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 10px;
  border-bottom: 2px solid #B3B3B3;
  margin-left: 5px;
}
.paper-editor h3.paper-right-title .mui-drop-down-icon {
  height: 20px;
  margin-left: 5px;
}
.paper-editor .user-access-buttons.pydio-form-panel > .pydio-form-group {
  margin-top: 0;
}
.paper-editor div.workspace-card {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}
.paper-editor div.workspace-card span.summary {
  display: inline-block;
  padding-right: 10px;
}
.paper-editor div.workspace-card span.summary-empty {
  display: none;
}
.paper-editor div.workspace-card .material-list-line-2 {
  white-space: normal;
}
.paper-editor div.workspace-card:first-of-type {
  border-top: 1px solid #f1f1f1;
}
.paper-editor div.workspace-card-edit {
  background-color: #eeeeee;
}
.paper-editor div.workspace-card-edit .dropzone img {
  margin: auto;
  max-height: 80px !important;
  max-width: 80px !important;
}
.paper-editor div.workspace-card-edit .material-list-icon {
  display: none;
}
.paper-editor div.workspace-card-edit .material-list-actions {
  display: none;
}
.paper-editor div.workspace-card-edit .material-list-text {
  padding: 0 !important;
}
.paper-editor div.workspace-card-edit .material-list-line-1 {
  overflow: visible;
}
.paper-editor div.workspace-card-edit .material-list-line-1 .mui-menu {
  max-height: 420px;
  overflow-y: auto;
}
.paper-editor div.workspace-card-edit .material-list-line-1 > .mui-paper {
  margin: 10px;
  background-color: white;
  font-weight: initial;
}
.paper-editor div.workspace-card-edit .material-list-line-1 .card-content {
  font-weight: normal;
}
.paper-editor div.workspace-card-edit .material-list-line-1 .card-content div.rights-selector {
  background-color: #f5f5f5;
  padding: 15px;
  border: 1px solid #e0e0e0;
  margin: 0 16px;
  border-radius: 2px;
  display: -webkit-flex;
  display: flex;
}
.paper-editor div.workspace-card-edit .material-list-line-1 .card-content div.rights-selector > div {
  width: 30%;
  padding-left: 30px;
}
.paper-editor div.workspace-card-edit.unique-scope .material-list-line-1 > .mui-paper {
  margin: 0;
}
.paper-editor div.workspace-card-edit.unique-scope h5 {
  display: none;
}
.paper-editor div.workspace-card-edit hr {
  margin-bottom: 0;
}
.paper-editor div.workspace-card-edit h4 {
  padding-left: 16px;
}
.paper-editor div.workspace-card-edit h5 {
  padding: 16px;
  margin: 0;
  font-size: 17px;
}
.paper-editor .workspace-acl-entry-inherited .material-list-line-1 {
  font-style: italic;
}
.paper-editor .workspace-acl-entry-inherited .rights-selector {
  /*opacity: 0.6;*/
}
.paper-editor .workspace-acl-entry-inherited .rights-selector .mui-checkbox .mui-checkbox-icon .mui-checkbox-check * {
  fill: #67a9d4;
}
.paper-editor .material-list-actions div.rights-selector {
  margin-top: 5px;
}
.paper-editor .material-list-actions div.rights-selector > div {
  display: inline-block;
  padding-left: 0;
  padding-right: 3px;
  width: initial;
}
.paper-editor .material-list-actions div.rights-selector .mui-checkbox {
  width: auto !important;
  overflow: visible !important;
  display: block;
  padding: 0 !important;
  height: 30px;
}
.paper-editor .parameters-list td {
  max-width: 200px;
  padding: 0 16px;
  border-bottom: 1px solid #eeeeee;
}
.paper-editor .parameters-list td span.label {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paper-editor .parameters-list td.empty-entry {
  padding: 16px;
  font-style: italic;
}
.paper-editor .parameters-list td.paramName {
  text-align: right;
}
.paper-editor .parameters-list td.paramValue .paramValue-empty {
  color: #999;
  font-style: italic;
}
.paper-editor .parameters-list td.paramValue div.mui-text-field {
  width: 166px;
}
.paper-editor .parameters-list td.paramValue span.integer-input div.mui-text-field {
  width: 66px;
}
.paper-editor .parameters-list td.paramValue div.mui-drop-down-menu {
  width: 200px;
}
.paper-editor .parameters-list td.paramValue .dropzone {
  border-radius: 3px;
  border-width: 2px;
  height: 84px;
  width: 84px !important;
  text-align: center;
  cursor: pointer;
  margin: 8px 0;
}
.paper-editor .parameters-list td.paramValue .role-action-toggle .mui-enhanced-switch {
  float: left;
  width: 50px;
  margin: 14px 2px 0;
}
.paper-editor .parameters-list td.paramValue .role-action-toggle .role-action-toggle-label {
  display: inline-block;
  padding: 15px 0 14px;
}
.paper-editor .parameters-list td.paramValue .drop-down-with-floating-label.has-value .drop-down-floating-label {
  display: none !important;
}
.paper-editor .parameters-list td.paramValue .image-label {
  display: none;
}
.paper-editor .parameters-list td.paramActions {
  text-align: right;
}
.paper-editor .parameters-list tr:nth-child(odd) {
  background-color: #fafafa;
}
.paper-editor .parameters-list tr:first-child td {
  border-top: 1px solid #eeeeee;
}
.paper-editor .parameters-list tr:last-child td {
  border-bottom: 0;
}
.paper-editor .parameters-list tr.inherited {
  font-weight: 100;
  font-style: italic;
}
.paper-editor .user-roles-picker {
  padding: 0 20px;
}
.paper-editor .user-roles-picker .mui-paper {
  margin: 8px 0;
}
.paper-editor .user-roles-picker .role-item {
  padding: 10px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 2px;
}
.paper-editor .user-roles-picker .role-item.role-item-sortable {
  cursor: ns-resize;
}
.paper-editor .user-roles-picker .role-item.role-item-sortable span.button {
  margin-top: -13px;
  float: right;
  cursor: pointer;
  padding: 13px;
  color: #bbb;
}
.paper-editor .user-roles-picker .roles-picker-menu {
  float: right;
  margin-top: 0;
}
.paper-editor .user-roles-picker .roles-picker-menu .mui-drop-down-menu {
  width: 200px !important;
}
.paper-editor .user-roles-picker .roles-picker-menu .mui-menu-label {
  text-transform: uppercase;
  font-weight: 500;
  color: #FF6F42;
}
.paper-editor .user-roles-picker .roles-picker-menu .mui-menu-control-underline {
  display: none;
}
