# Sample file to give an example of the supported environment variables.
# Adapt values to your context and rename the file as ".env"
# You only have then to run
# docker-compose up
# or to run as daemon and do not stop the engine when getting out of the logs or loosing server connexion:
# docker-compose up -d; docker-compose logs -f

CELLS_DOCKER_IMAGE=pydio/cells:latest
PUBLIC_FQDN=cells.example.com
TLS_MAIL_ADDRESS=tls@example.com
MYSQL_PYDIO_USER_LOGIN=pydio
MYSQL_PYDIO_USER_PASSWORD=cells
MYSQL_ROOT_PASSWORD=cells
