:443 {
    tls  /etc/ssl/selfsigned.crt /etc/ssl/selfsigned.key
    reverse_proxy https://cells1:8080 https://cells2:8080 https://cells3:8080 {
        transport http {
            dial_timeout 5s

            # require a great number for sync
            response_header_timeout 3000s
            tls_insecure_skip_verify
        }
        lb_policy cookie cells_ha_sticky
        #lb_policy round_robin
        #trusted_proxies x.x.x.x
    }
}

