.ReactCodeMirror.CMEditor {
    width: 100%;
    flex: 1;
}

.react-mui-context .mdviewer{
    flex:1;
    border-left:2px solid #e0e0e0;
    padding:20px;
    background-color:#fafafa;
    overflow-y: auto;
}
.react-mui-context .mdviewer ul, .react-mui-context .mdviewer ol{
    margin-left: 15px;
}
.react-mui-context .mdviewer code {
    margin: 10px 0;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: #CFD8DC;
}
.react-mui-context .mdviewer pre code {
    display: block;
}
